@page
@model PRN222.Lab2.MVC.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" asp-page-handler="Logout">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

<form method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@Model.SearchString" placeholder="Search by name..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="ProductName">
                    @Html.DisplayNameFor(model => model.Product[0].ProductName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="UnitsInStock">
                    @Html.DisplayNameFor(model => model.Product[0].UnitsInStock)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="UnitPrice">
                    @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @if (Model.TotalPages > 1)
    {
        <nav>
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-page="./Index" asp-route-currentPage="@i" asp-route-searchString="@Model.SearchString" asp-route-sortOrder="@Model.CurrentSortOrder">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>

<script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
